header{
    height:60px;
    font-size: 25px;
 
}


#headText {
    margin-left: 10px;
}

section{
    width: 1080px;
    height: 400px;
    margin-top:20px;
    margin-left: 20px;
}







footer{
    height:60px;
    margin-top: -50px;
}

#footer-text{
    margin-left: 10px;
}

