.box-size-100 {
    width: 200px;
    height: 200px;
}


.flex {
    display:flex;
}




#div1 {
    background-color: red;
}

#div2 {
    background-color: green;
}

#div3 {
    background-color: yellow;
}

#div4 {
    background-color: blue;
}


#div5 {
    background-color: red;
    margin : 10px;
}

#div6 {
    background-color: green;
    margin : 10px;
}



#div7 {
    background-color: yellow;
    margin: 10px;
}

#div8 {
    background-color: blue;
    margin: 10px;
}