/* 선생님 코드 */
#year {
    font-size: 18px;
}

#month {
    font-size: 38px;
    font-weight: bold;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

th {height: 30px;}

td {
    width:150px;
    height:100px;
    vertical-align: top;
    padding:10px;
}

.holiday {color:red;}

#today {
    font-weight: bold;
    background-color: beige;
}

td:hover {
    background-color: darkcyan;
}